<main class="confirm_main">
     <table class="confirm_table">
   <tbody class= "confirm_tbody">
    <tr class="confirm_tr">
     <td class="confirm_title">予約内容確認</td>
    </tr>
    <tr class="confirm_tr">
     <td class="confirm_td"><%= @reservation.room.price %>/日</td>
    </tr>
    <%= form_with(model: @reservation, method: :post, local: true) do |f| %>
     <%= f.hidden_field :room_id, value: @room.id %>
    <tr class="confirm_tr">
     <th class="confirm_th">開始日</th>
     <td class="confirm_td_date">
     <%=  @reservation.start_date %>
     <%= f.hidden_field :start_date %>
     </td>
    </tr>
    <tr class="confirm_tr">
     <th class="confirm_th">終了日</th>
     <td class="confirm_td_date">
      <%=  @reservation.end_date %>
      <%= f.hidden_field :end_date %></td>
     </tr>
     <tr class="confirm_tr">
     <td class="confirm_td">使用日数:<%=  @reservation.total_day %>日</td>
    </tr>
    <tr class="confirm_tr">
     <td class="confirm_td">
     人数：<%=  @reservation.number_of_people %>
     <%= f.hidden_field :number_of_people %>
     </td>
    </tr>
    <tr class="confirm_tr">
     <th class="confirm_th">合計金額</th>
     <td class="confirm_td_date"><%=  @reservation.total_price %></td>
    </tr>
    <tr class="confirm_tr">
     <td class="confirm_td"><p class="confirm_instructions">上記内容でよろしければ「予約を確定」を押してください</p></td>
    </tr>
    <tr class="confirm_tr">
     <td class="confirm_btn"><%= f.submit "予約を確定", class: 'confirm_bule_btn' %></td>
    </tr>
     <tr class="confirm_tr">
     <td class="confirm_btn"><%= f.submit 'ルーム詳細に戻る', name: :back, class: "confirm_gray_btn" %></td>
    </tr>
    <% end %>
   </tbody>
  </table>
</main>