<main class="rooms_show_main">
<div class= "row">
<div class="room_navs">
<p>room情報</p>
</div>
 <div class="relatives-box">

    <%= form_for(@reservation) do |f| %>
      <table class="relatives_new_table">
        <tr class"reservation_text_field">
          <th class="reservation_lavel"><%= f.label :start_date ,"開始日" %></th>
          <td><%= f.text_field :start_date,placeholder: "年/月/日",:class => 'reservation_field'%></td>
        </tr>
         <tr class"reservation_text_field">
          <th class="reservation_lavel"><%= f.label :end_date ,"終了日" %></th>
          <td><%= f.text_field :end_date,placeholder: "年/月/日",:class => 'reservation_field'%></td>
        </tr>
        <tr class"reservation_text_field">
          <th class="reservation_lavel"><%= f.label :number_of_people ,"人数" %></th>
          <td><%= f.text_field :number_of_people,:class => 'reservation_field'%></td>
        </tr>
        
          <th> <%= f.submit "予約する",:class => 'reservation_register'%></th>
        </tr>
    <% end %>
     </table>
  </div>
  </div>
</main>  
</main>