<main class="sighup_main">
<p>ログイン</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <p class= mark>必須</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", :class => 'sigh_field' %>
  </div>

  <div class="field">
     <p class= mark>必須</p>
    <%= f.password_field :password, autocomplete: "current-password",placeholder: "パスワード",:class => 'sigh_field' %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン",:class => 'new_account' %>
  </div>
<% end %>

<%= link_to '新しいアカウントを作成', '/users/sign_up',{class: "page_link"} %>
</main>