<main class="search_main">
 <h3 class="search_result">検索結果：<%= @rooms.count%> 件</h3>
 <div class="row">
    <% @rooms.each do |room| %>
    <div class="col-3">
    <p class="search_image"><%= image_tag room.room_image.url, class: 'room_image' %></p>
    <p class="search_name"><%= link_to room.room_name,room_path(room)%></p>
    <p class="search_adress"><%= room.adress %></p>
    <p class="search_price">¥<%= room.price %></p>
  </div>
  <% end %> 
 </div>
</main>