<main class="rooms_show_main">
<div class= "row">
 
 <div class="room_navs">
  <a><%=  image_tag @room.room_image.url, class: 'room_images' %></a>
  <a><%= image_tag current_user.user_image.url, class: 'room_user_image'%></a>
  <div class="image_right">
  <p class="room_name"><%= @room.room_name %></p>
  <p class="room_adress"><%= @room.adress %></p>
  </div>
  <p class="room_memo"><%= @room.memo %></p>
  </div>

 <div class="reservation-box">
   <%= form_with model:@reservation,method: :post, url:reservations_confirm_path do |f| %>
   <%= f.hidden_field :room_id, value: @room.id %>
      <table class="relatives_new_table">
        <tr class= "reservation_text_field">
         <td class="room_price">¥<%= @room.price %> / 日</td>
        </tr>
        <tr class= "reservation_text_field">
          <th class="reservation_lavel"><%= f.label :start_date ,"開始日" %></th>
          <td class="reservation_new_td"><%= f.date_field :start_date,placeholder: "年/月/日",:class => 'reservation_field'%></td>
        </tr>
         <tr class= "reservation_text_field">
          <th class="reservation_lavel"><%= f.label :end_date ,"終了日" %></th>
          <td class="reservation_new_td"><%= f.date_field :end_date,placeholder: "年/月/日",:class => 'reservation_field'%></td>
        </tr>
        <tr class= "reservation_text_field">
          <th class="reservation_lavel"><%= f.label :number_of_people ,"人数" %></th>
          <td class="reservation_new_td"><%= f.text_field :number_of_people,:class => 'reservation_field'%></td>
        </tr>
        <tr class= "reservation_text_field">
          <td class="reservation_new_td"> <%= f.submit "予約する",:class => 'reservation_register'%></td>
        </tr>
    <% end %>
     </table>
  </div>
  </div>
</main>  
</main>

