<main class="main_page">
 <div class= "top">
  <div class= "top_main">
  <div class= "form_area">
  <h3 class= "form_area_title">Potepan Shareでまだ体験したことない旅をしよう</h3>
  <p class="search_lavel">エリア</p>
  <%= link_to '予約一覧', 'https://3652e5c0c10e4ac394f4f84f03c444db.vfs.cloud9.us-east-1.amazonaws.com/reservations' %>
  <%= link_to 'アカウント', 'https://3652e5c0c10e4ac394f4f84f03c444db.vfs.cloud9.us-east-1.amazonaws.com/users/account',{class: "page_link"} %>
  <%= link_to '新規ルーム登録', 'https://3652e5c0c10e4ac394f4f84f03c444db.vfs.cloud9.us-east-1.amazonaws.com/rooms/new',{class: "page_link"} %>
  <%= link_to '登録済ルーム一覧', 'https://3652e5c0c10e4ac394f4f84f03c444db.vfs.cloud9.us-east-1.amazonaws.com/rooms',{class: "page_link"} %>
  <%= link_to 'サーチ', 'https://3652e5c0c10e4ac394f4f84f03c444db.vfs.cloud9.us-east-1.amazonaws.com/rooms/search',{class: "page_link"} %>
  </div>
  </div>
  <div class="container">
    <h2 class="select_area">おすすめのエリア</h2>
      <div class="area_item">
      <span>東京</span>
      <img class="area-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg">
      </div>
      <div class="area_item">
      <span>大阪</span>
      <img class="area-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg">
      </div>
      <div class="area_item">
      <span>京都</span>
      <img class="area-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg">
      </div>
      <div class="area_item">
      <span>札幌</span>
      <img class="area-image" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg">
      </div>
  </div>
 </div>
</main>